/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .illustrate-font {
    font-family: 'Comic Sans MS', cursive;
  }
  .clearfix:after {
    content: '';
    @apply block clear-both h-0 leading-none;
  }
  .left-vw-100 {
    left: -100vw;
  }
  .left-vw100 {
    left: 100vw;
  }
}

@layer base {
  *, *:before, *:after {
    @apply box-border;
  }
  html, body {
    @apply p-0 m-0;
    font-size: 16px;
  }
  ul, ol, li, dl, dd, dt, h1, h2, h3, h4, h5, h6, p {
    @apply m-0 p-0;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-normal;
  }
  li {
    @apply list-none;
  }
  em, i {
    @apply font-normal;
  }
  img {
    @apply w-full h-auto align-middle border-0;
  }
  input, button {
    @apply p-0 border-0 outline-none bg-transparent;
  }
  input {
    @apply appearance-none;
  }
  button {
    @apply cursor-pointer focus:outline-none;
  }
  a {
    @apply no-underline;
  }
  /* html {
    @apply overflow-x-hidden;
  } */
}